<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Blog</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Acompanhe todas novidades, dicas e tutoriais.<br> Nosso blog é mantido por voluntários.</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="blog-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="blog-image">
                        <a href="#">
                            <img src="assets/img/blog/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="single-post.html">We make beautiful days with older adults</a></h3>
                        <div class="meta">
                            <span class="meta-part"><a href="#"><i class="icon-eye"></i> 2500</a></span>
                            <span class="meta-part"><a href="#"><i class="icon-bubble"></i> 100</a></span>
                            <span class="meta-part"><a href="#"><i class="icon-calendar"></i> 21 Mar, 2016</a></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet cons tetuer adipiscing elit. dolor sit...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="blog-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-image">
                        <a href="#">
                            <img src="assets/img/blog/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="single-post.html">Change-makers economic</a></h3>
                        <div class="meta">
                            <span class="meta-part"><a href="#"><i class="icon-eye"></i> 2500</a></span>
                            <span class="meta-part"><a href="#"><i class="icon-bubble"></i> 100</a></span>
                            <span class="meta-part"><a href="#"><i class="icon-calendar"></i> 21 Mar, 2016</a></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet cons tetuer adipiscing elit. dolor sit...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="blog-item wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="blog-image">
                        <a href="#">
                            <img src="assets/img/blog/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="single-post.html">It’s no secret that virtual reality</a></h3>
                        <div class="meta">
                            <span class="meta-part"><a href="#"><i class="icon-eye"></i> 2500</a></span>
                            <span class="meta-part"><a href="#"><i class="icon-bubble"></i> 100</a></span>
                            <span class="meta-part"><a href="#"><i class="icon-calendar"></i> 21 Mar, 2016</a></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet cons tetuer adipiscing elit. dolor sit...</p>
                    </div>
                </div>
            </div>
            <div class="more-btn">
                <a href="#" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">veja mais</a>
            </div>
        </div>
    </div>
</section>
