<section id="featured" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Por que participar?</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Realizar uma palestra expõe seu trabalho, demonstra domínio sobre determinado tema e principalmente, inibe a "vergonha" de falar em público. <br>
              Lembre-se que todos temos algo para ensinar! </p>
                <div class="col-md-4 col-sm-6">
                    <div class="featured-box wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="icon">
                            <i class="icon-energy"></i>
                        </div>
                        <div class="featured-content">
                            <h4>Compartilhe</h4>
                            <p>Faça uma palestra sobre sua linguagem de programação preferida, conte suas experiências, apresente curiosidades da tecnologia, ou nos surpreenda. :)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="featured-box wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="icon">
                            <i class="icon-people"></i>
                        </div>
                        <div class="featured-content">
                            <h4>Misture-se</h4>
                            <p>O melhor lugar no mundo para conhecer pessoas interessantes, fazer negócios ou iniciar um projeto totalmente novo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="featured-box wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="icon">
                            <i class="icon-graph"></i>
                        </div>
                        <div class="featured-content">
                            <h4>Aprenda</h4>
                            <p>Participe das palestras, interaja com palestrantes, empreendedores ou profissionais de diversas áreas. <br> Aprenda com os melhores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
