{{ range  .event }}

<div id="carousel-area">
    <div id="carousel-slider" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          {{ range .Slides }}
            <div class="item {{ .active }}">
                <img src="{{ .img }}" alt="{{ .title }}" style="width: 100%">
                <div class="carousel-caption">
                    <h2 class="wow fadeInUp" data-wow-delay="300ms">{{ .title }}</h2>
                    <div class="buttons" >
                        <a class="btn btn-lg btn-common wow fadeInRight" data-wow-delay="300ms" data-toggle="modal" href="{{ .blink }}">{{ .btext }}</a>
                    </div>
                    <a data-scroll href="#featured">
                        <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>

            {{ end }}
        </div>

        <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
            <span class="icon-arrow-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
            <span class="icon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
</div>

{{ range .Event }}
  <section class="countdown-timer section">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="text">
                      <h2>{{ .title }}</h2>
                      <h4>{{ .local | safeHTML }} <br> {{ .date }} </h4>
                      <p>{{ .description | safeHTML }}</p>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
                  <div class="time-countdown">
                      <div id="clock" class="time-count"></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
{{ end }}

{{ range .Closing }}
  <section id="event" class="section">
      <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="tab-block wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="fa fa-comment"></i>
                    </div>
                    <div class="desc">
                        <h4>Conteúdo</h4>
                        <p>{{ .schedules }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="tab-block wow fadeInDown" data-wow-delay="0.4s">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="desc">
                        <h4>Palestrantes</h4>
                        <p>{{ .speakers }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="tab-block last-block wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <div class="desc left">
                        <h4>Workshops</h4>
                        <p>{{ .workshops }} </p>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>
  {{ end }}




<!-- Insert Featured section -->
{{ partial "base/featured.html" . }}
<!-- end of Featured section -->


<section id="submit" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.8s">Garanta sua participação</h2>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
              <div class="content-text">
              <a href="https://www.univates.br/eventos/evento/8304-fossday-free-and-open-source-software" class="btn btn-lg btn-common">Realizar inscrição</a>
              </div>
            </div>
        </div>
    </div>
</section>

<section id="schedule" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Grade de palestras</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Confira as atividades do evento.</p>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">As atividades do evento estão organizadas por abas e para altenar entre elas, clique no título de cada aba.</p>
                <div class="main-board wow fadeInDown" data-wow-delay="0.3s">

                    <ul class="nav nav-tabs day" role="tablist">
                        <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">08:30 - 12:00 <br> <span>Manhã</span></a></li>
                        <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">13:00 - 17:30 <br> <span>Tarde</span> </a></li>
                        <li role="presentation"><a href="#day3" aria-controls="day2" role="tab" data-toggle="tab"><span>Manhã e tarde</span> <br> Workshops <br> </a></li>
                    </ul>

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="day1">
                            <div class="row">
                                <div class="col-md-12 board text-center">
                                    <div class="column-1 col-md-3 col-sm-5">
                                        <ul class="nav nav-pills event-time-list">
                                            <li><a>Horário</a>
                                                <ul>
                                                  <li class="color-1"><a>8h30min</a></li>
                                                  <li class="color-2"><a>09h00min</a></li>
                                                  <li class="color-3"><a>09h50min</a></li>
                                                  <li class="color-4"><a>10h10min</a></li>
                                                  <li class="color-5"><a>11h00min</a></li>
                                                  <li class="color-6"><a>12h00min</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                      {{ range .Schedule }}
                                        {{ if eq .start "08h30min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-1"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "09h00min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-2"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary | markdownify | truncate 150 }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "09h50min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-3"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary }}</p>
                                        </div>
                                        {{ end }}
                                      {{ end }}
                                    </div>
                                   
                                    <div class="col-md-4 col-sm-12">
                                      {{ range .Schedule }}
                                      {{ if eq .start "10h10min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-4"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "11h00min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-5"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary | markdownify | truncate 150 }}</p>
                                        </div>
                                        {{ end }}
                                      {{ end }}
                                    </div>


                                    <div class="col-md-1 col-sm-1">
                                        <div class="coffee">
                                            <div class="coffee-icon">
                                                <img src="assets/img/coffee-cup.png" alt="">
                                            </div>
                                            <p>
                                              <br> <br> <br> <br> <br> A <br><br> L <br><br> M <br><br> O <br><br> Ç <br><br> O <br><br> <br><br><br><br><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="day2">
                            <div class="row">
                                <div class="col-md-12 board text-center">
                                    <div class="column-1 col-md-3 col-sm-5">
                                        <ul class="nav nav-pills event-time-list">
                                            <li><a>Horário</a>
                                                <ul>
                                                    <li class="color-1"><a>13h10min</a></li>
                                                    <li class="color-2"><a>14h00min</a></li>
                                                    <li class="color-3"><a>15h20min</a></li>
                                                    <li class="color-4"><a>15h50min</a></li>
                                                    <li class="color-5"><a>16h25min</a></li>
                                                    <li class="color-6"><a>16h50min</a></li>
                                                    <li class="color-7"><a>17h20min</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                      {{ range .Schedule }}
                                        {{ if eq .start "13h10min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-1"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary | markdownify | truncate 150 }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "14h00min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-2"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary  }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "15h20min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-3"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary | markdownify | truncate 150 }}</p>
                                        </div>
                                        {{ end }}
                                      {{ end }}
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <div class="coffee">
                                            <div class="coffee-icon">
                                                <img src="assets/img/coffee-cup.png" alt="">
                                            </div>
                                            <p>
                                                C <br> O <br> F <br> F <br>E <br>E <br> <br> B <br> R <br> E <br> A <br> K
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                      {{ range .Schedule }}
                                        {{ if eq .start "15h50min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-4"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary | markdownify | truncate 150 }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "16h25min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-5"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary | markdownify | truncate 150 }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "16h50min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-6"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary | markdownify | truncate 150 }}</p>
                                        </div>
                                        {{ end }}
                                        {{ if eq .start "17h20min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-7"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary }}</p>
                                        </div>
                                        {{ end }}
                                      {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="day3">
                            <div class="row">
                                <div class="col-md-12 board text-center">
                                    <div class="column-1 col-md-3 col-sm-5">
                                        <ul class="nav nav-pills event-time-list">
                                            <li><a >Horário</a>
                                                <ul>
                                                    <li class="color-1"><a>10h00min</a></li>
                                                    <li class="color-6"><a>12h00min</a></li>
                                                    <li class="color-2"><a>13h00min</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                      {{ range .Workshops }}
                                        {{ if eq .start "10h00min"}}
                                        <div class="member">
                                            <div class="button">
                                                <a class="btn-large bg-1"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                            </div>
                                            <h4> {{ .speeche }}</h4>
                                            <p>{{ .summary }}</p>
                                        </div>
                                        {{ end }}
                                      {{ end }}
                                    </div>

                                    <div class="col-md-1 col-sm-1">
                                        <div class="coffee">
                                            <div class="coffee-icon">
                                                <img src="assets/img/coffee-cup.png" alt="">
                                            </div>
                                            <p>
                                               A <br><br> L <br><br> M <br><br> O <br><br> Ç <br><br> O <br>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                      {{ range .Workshops }}
                                      {{ if eq .start "13h00min" }}
                                      <div class="member">
                                          <div class="button">
                                              <a class="btn-large bg-2"><img src="{{ .avatar }}" alt="{{ .name }}" class="avatar-img"> {{ .name }}</a>
                                          </div>
                                          <h4> {{ .speeche }}</h4>
                                          <p>{{ .summary | markdownify | truncate 150 }}</p>
                                      </div>
                                        {{ end }}
                                      {{ end }}
                                    </div>
                                  </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section id="speakers" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Palestrantes</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Veja quem vai participar do evento:</p>
            </div>

            {{ range .Schedule }}

              {{ if and (ne .vitae "out") (ne .name "Diego de Souza Maia")}}

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="0.1s">
                    <div class="member-img" style="background-image: url('{{ .avatar }}')">
                    </div>
                    <div class="member-desc">
                        <h3>{{ .name }}</h3>
                        <p>{{ .vitae  | markdownify | truncate 150 }}</p>
                        <div class="social-icon">
                          {{ range .links }}
                          <a class="social" href="{{ .link }}" target="_blank">{{ .title | safeHTML }}</i></a>
                          {{ end }}
                        </div>
                    </div>
                </div>
            </div>
              {{ end }}
            {{ end }}

            {{ range .Workshops }}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="0.1s">
                    <div class="member-img" style="background-image: url('{{ .avatar }}')">

                    </div>
                    <div class="member-desc">
                        <h3>{{ .name }}</h3>
                        <p>{{ .vitae  | markdownify | truncate 150 }}</p>
                        <div class="social-icon">
                          {{ range .links }}
                          <a class="social" href="{{ .link }}" target="_blank">{{ .title | safeHTML }}</i></a>
                          {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            <!--- div class="more-btn text-center">
                <a href="speakers.html" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">Ver lista completa</a>
            </div -->
        </div>
    </div>
</section>

<section id="sponsors" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Patrocinadores</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Organizações que estão patrocinando o evento.</p>
            </div>
            {{ range .Sponsors }}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="spnsors-logo wow fadeInUp" data-wow-delay="0.1s">
                    <a href="{{ .url }}" title="{{ .title }} {{ .short}}" target="_blank"><img src="{{ .logo }}" alt="Logo {{ .title }}"></a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section id="sponsors" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Apoiadores</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Instituições e organizações que apoiam o evento.</p>
            </div>
            {{ range .Partners }}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="spnsors-logo wow fadeInUp" data-wow-delay="0.1s">
                    <a href="{{ .url }}" title="{{ .title }} {{ .short}}" target="_blank"><img src="{{ .logo }}" alt="Logo {{ .title }}"></a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ range .Event }}
<section id="map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Local do evento</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">{{ .local | safeHTML }}</p>
            </div>
            <div id="map_canvas"></div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
