$box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);

.text-white {
    color: $white !important;
}

.section-padding-5-0 {
    padding-top: 5em;
    padding-bottom: 0;
}

.section-padding-0-6 {
    padding-top: 0;
    padding-bottom: 6em;
}

.section-padding-100-0-17 {
    padding: 100px 17em 0 17em;
}