<header id="header-wrap">

  <div class="navigation-menu">
    <nav class="navbar navbar-default navbar-event">
      <div class="container">

        <div class="navbar-header col-md-2">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="https://i.imgur.com/qsEKxRC.png" alt="Logo de {{ .Site.Params.Evento }}"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            {{ range .General }}
              {{ range .HeadMenu }}
                {{ if .sub }}
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ .link }}">{{ .text }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {{ range $.General }}
                      {{ range .Cities }}
                        <li><a href="{{ .link }}">{{ .name }}</a></li>
                      {{ end }}
                    {{ end }}
                    {{ range .sub }}
                      <li><a href="{{ .link }}">{{ .text }}</a></li>
                    {{ end }}
                  </ul>
                </li>
              {{ else }}
                <li ><a href="{{ .link }}">{{ .text }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
          </ul>

        </div>
      </div>

    <ul class="wpb-mobile-menu">
      {{ range .General }}
        {{ range .HeadMenu }}
          {{ if .sub }}
            <li><a href="#">{{ .text }}</a>
              <ul class="dropdown">
              {{ range $.General }}
                {{ range .Cities }}
                  <li><a href="{{ .link }}">{{ .name }}</a></li>
                {{ end }}
              {{ end }}
              {{ range .sub }}
                <li><a href="{{ .link }}">{{ .text }}</a></li>
              {{ end }}
            </ul>
          </li>
        {{ else }}
          <li ><a href="{{ .link }}">{{ .text }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>

    </nav>
  </div>

</header>
