<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ if .event}}
    
    {{ range .event }}
      {{ range .Event }}
        <title>{{ .title }}</title>
      {{ end }}
    {{ end }}

    {{ else }}

    {{ range .General}}
      {{ range .Global}}
        <title>{{ .Name }} - {{ .Short }}</title>
        <meta name="description" content="{{ .Description }}" />
      {{ end }}
    {{ end }}
    
    {{ end }}

    <link rel="icon" type="image/png" href="https://i.imgur.com/yFnbmL4.png" />

    {{ $bootstrap := resources.Get "ressources/css/bootstrap.min.css" | minify | fingerprint }}
    {{ $main := resources.Get "ressources/css/main.css" | minify | fingerprint }}
    {{ $responsive := resources.Get "ressources/css/responsive.css" | minify | fingerprint  }}
    {{ $css := slice $bootstrap $main $responsive | resources.Concat "ressources/css/style_bundle.css" | minify | fingerprint}}

    {{ $fawesome := resources.Get "ressources/fonts/font-awesome.min.css" | minify | fingerprint }}
    {{ $simple_icons := resources.Get "ressources/fonts/simple-line-icons.css" | minify | fingerprint  }}


    {{ $slicknav := resources.Get "ressources/css/slicknav.css" | minify | fingerprint  }}
    {{ $nivo_lightbox := resources.Get "ressources/css/nivo-lightbox.css" | minify | fingerprint  }}
    {{ $animate := resources.Get "ressources/css/animate.css" | minify | fingerprint  }}
    {{ $carousel := resources.Get "ressources/css/owl.carousel.css" | minify | fingerprint  }}
    {{ $foss := resources.Get "ressources/css/colors/foss.css" | minify | fingerprint  }}
    {{ $libraries := slice $slicknav $nivo_lightbox $animate $carousel $foss | resources.Concat "ressources/css/libraries.css" | minify | fingerprint}}


    <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ $fawesome.Permalink }}" integrity="{{ $fawesome.Data.Integrity }}" >
    <link rel="stylesheet" type="text/css" href="{{ $simple_icons.Permalink }}" integrity="{{ $simple_icons.Data.Integrity }}" >
    <link rel="stylesheet" type="text/css" href="{{ $libraries.Permalink }}" integrity="{{ $libraries.Data.Integrity }}" media="screen">



    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
