

{{ $jquery := resources.Get "ressources/js/jquery.min.js" | minify | fingerprint }}
{{ $bootstrap := resources.Get "ressources/js/bootstrap.min.js" | minify | fingerprint }}
{{ $countdown := resources.Get "ressources/js/jquery.countdown.min.js" | minify | fingerprint  }}
{{ $smooth := resources.Get "ressources/js/smooth-scroll.js" | minify | fingerprint  }}
{{ $wow := resources.Get "ressources/js/wow.js" | minify | fingerprint  }}
{{ $carousel := resources.Get "ressources/js/owl.carousel.min.js" | minify | fingerprint  }}
{{ $slicknav := resources.Get "ressources/js/jquery.slicknav.js" | minify | fingerprint  }}
{{ $nivo := resources.Get "ressources/js/nivo-lightbox.js" | minify | fingerprint  }}
{{ $jsLibraries := slice $jquery $bootstrap $countdown $smooth $wow $carousel $slicknav $nivo | resources.Concat "ressources/js/libraries_bundle.js" | minify | fingerprint}}

<script type="text/javascript" src="{{ $jsLibraries.Permalink }}" integrity="{{ $jsLibraries.Data.Integrity }}"></script>



{{ range .event }}
  {{ range .Event }}

  {{ $mainJS := resources.Get "ressources/js/main.js" | minify | fingerprint }}
  {{ $mapit := resources.Get "ressources/js/jquery.mapit.min.js" | minify | fingerprint }}
  {{ $init := resources.Get "ressources/js/initializers.js" | minify | fingerprint }}
  {{ $map := slice $mainJS $mapit $init | resources.Concat "ressources/js/main_bundle.js" | minify | fingerprint}}

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ .GoogleMapsKey }}"></script>
  <script type="text/javascript" src="{{ $map.Permalink }}" integrity="{{ $map.Data.Integrity }}"></script>


  <script type="text/javascript">
  /* ==========================================================================
  countdown timer
  ========================================================================== */
  jQuery('#clock').countdown('{{ .date }}',function(event){
    var $this=jQuery(this).html(event.strftime(''
    +'<div class="time-entry days"><span>%-D</span> Dias</div> '
    +'<div class="time-entry hours"><span>%H</span> Horas</div> '
    +'<div class="time-entry minutes"><span>%M</span> Minutos</div> '
    +'<div class="time-entry seconds"><span>%S</span> Segundos</div> '));
  });
  </script>

  {{ end }}
{{ end }}
