a{
  color: #00A456;
}
a:hover{
  color: #00A456;
}
.btn-common {
  background: #00A456;
}
.btn-common:hover{
 box-shadow: 0 14px 26px -12px rgba(233,30,99,0.42), 0 4px 23px 0px rgba(233,30,99,0.12), 0 8px 10px -5px rgba(233,30,99,0.02);
}
/* Back to Top */
.back-to-top i {
  background-color: #00A456;
}
/* Top Roof */
#roof{
  background: #00A456;
}
/* Navbar */
.slicknav_btn{
  border-color: #00A456;
  border-radius: 2px;
}
.slicknav_menu .slicknav_btn .slicknav_icon-bar{
  background: #00A456;
}
.slicknav_menu .slicknav_btn:hover{
  background: #00A456;
}
.slicknav_nav .active a{
  background: #00A456;
}
.slicknav_nav a:hover, .slicknav_nav .active{
  color: #00A456;
}
.slicknav_nav .dropdown li a.active{
  background: #00A456;
}
.navbar-default .navbar-toggle .icon-bar{
  background: #00A456;
}
.navbar-event .navbar-nav li a:hover,
.navbar-event .navbar-nav li .active > a,
.navbar-event .navbar-nav li a:focus {
  color: #fff;
  background: #00A456 !important;
  
}
.navbar-event .dropdown .dropdown-menu {
  border-color: #00A456;
}
.navbar-event .dropdown .dropdown-menu > li > a:hover,
.navbar-event .dropdown .dropdown-menu > li > a .active {
  color: #fff;
}
.navbar-event .dropdown .dropdown-menu > li.active > a {
  background: #00A456 !important;
  color: #fff;
}
.navbar-event .navbar-nav > .active > a,
.navbar-event .navbar-nav > .active > a:focus,
.navbar-event .navbar-nav > .active > a:hover {
  background: #00A456 !important;
  color: #fff;
}
.navbar-event .navbar-nav > .open > a,
.navbar-event .navbar-nav > .open > a:focus{
  color: #222222;
}
.navbar-event .navbar-nav > .open > a:hover {
  color: #fff;
}
.navbar-event .navbar-nav > .active > a,
.navbar-event .navbar-nav > .active > a:hover{
  color: #fff;
}
/* Countdown */
.countdown-timer .text h4{
  color: #00A456;
}
.time-entry span{
    color: #00A456;
}
/* Event */
#event .tab-block .icon i{
  color: #00A456;
}
/* Featured icon */
.featured-box .icon i{
  color: #00A456;
}
/* Schedule */
.main-board .day > li.active > a,
.main-board .day > li.active > a:focus,
.main-board .day > li.active > a:hover{
  background-color: #00A456;
}
.main-board .day > li > a:focus,
.main-board .day > li > a:hover{
  background: #00A456;
}
/* Gellery */
.gallery-item .icons i:hover{
  color: #00A456;
  border-color: #00A456;
}
/* Video */
.ready-to-play:before{
  background: #00A456;
}
/* Blog */
#blog .blog-info h3 a:hover{
  color: #00A456;
}
/* Pricing Table */
.pricing-table .table-icon i{
  color: #00A456;
}
.pricing-table .table-icon i{
  background: rgba(233, 30, 99, 0.07);
}
/* Contact */
#contact .title-header .icon i{
  color: #00A456;
}
#contact .label-line.active .label{
   color: #00A456;
}
#contact .label-line.active .span:before{
  background: #00A456;
}
#contact .span:before{
  background: #00A456;
}
/* page header */
.page-header .breadcrumb li{
  color: #00A456;
}
.page-header .breadcrumb li a:hover{
  color: #00A456;
}
/* Intro */
#intro::before{
  background: #00A456;
}
#subscribe-section::before{
  background: #00A456;
}
#subscribe-section
.subscribe-box
.subscribe-form button:hover{
  color: #00A456;
}
/* Speakers others */
#team .team-img::before{
  background: rgba(76, 182, 125, 0.6);
}

/* Blog page */
.post-title a:hover{
  color: #00A456;
}
.blog-post .post-content .meta .meta-part a:hover{
  color: #00A456;
}
#pagination .current,
#pagination a:hover{
  color: #00A456;
}
.widget-search .search-btn:hover{
  color: #00A456;
}
.widget-title{
  border-bottom-color: #00A456;
}
#sidebar .posts-list .widget-content a:hover{
  color: #00A456;
}
#sidebar .cat-list li a:hover{
  color: #00A456;
}
#sidebar .tag a:hover{
  color: #00A456;
}
.post-slide .post-content h3 a:hover{
  color: #00A456;
}
.post-slide .post-content .meta .meta-part a:hover{
  color: #00A456;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #00A456;
}
#comments .comment-content .comment-date{
  color: #00A456;
}
.reply-link{
  color: #00A456;
}
