{{ define "main"}}


<div class="page-header">
  <div class="container">
    <div class="page-header-inner">
      <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Eventos</a></li>
        <li class="page">{{ .Params.title }}</li>
      </ol>
      <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
        {{ .Params.title }}
      </h1>
    </div>
  </div>
</div>


<section id="content" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="blog-post single-gallery">

          <div class="feature-inner">
            <a class="lightbox" href="{{ .Params.thumbnail }}">
              <img src="{{ .Params.thumbnail }}" alt=""></a>
          </div>


          <div class="post-format">
            <span>
              <a href="#"><i class="icon-picture"></i></a>
            </span>
          </div>

          <div class="post-content">
            <h3 class="post-title"><a>{{ .Params.subtitle }}</a>
            </h3>
            <div class="meta">
              <span class="meta-part"><a href="#"><i class="icon-user"></i> {{ .Params.author}}</a></span>
              <span class="meta-part"><a href="#"><i class="icon-calendar"></i> Fabruary 25, 2015</a></span>
              <span class="meta-part"><a href="#"><i class="icon-event"></i> Eventos</a></span>
            </div>

            {{ .Content }}

            <div class="share">
              <div class="social-link">
                <span>Compartilhe</span>
                <a class="twitter" target="_blank" data-original-title="twitter" href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeHTML }}" data-toggle="tooltip"
                  data-placement="top"><i class="fa fa-twitter"></i></a>
                <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip"
                  data-placement="top"><i class="fa fa-facebook"></i></a>
                <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip"
                  data-placement="top"><i class="fa fa-google-plus"></i></a>
                <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip"
                  data-placement="top"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>


        <div id="comments">
          <h2 class="comments-title"><i class="icon-bubbles"></i> Comentários</h2>
          <div id="disqus_thread"></div>
          <script>
            (function () { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://fossday.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
              Disqus.</a></noscript>


        </div>

      </div>

      <aside id="sidebar" class="col-md-4 right-sidebar">

        <div class="widget widget-popular-posts">
          <h5 class="widget-title">Postagens recentes</h5>
          <ul class="posts-list">
            <li>
              <div class="widget-thumb">
                <a href="#"><img src="assets/img/blog/p1.jpg" alt="" /></a>
              </div>
              <div class="widget-content">
                <a href="#">Brooklyn beta was the most</a>
                <span><i class="icon-calendar"></i>2016/10/28</span>
                <span><i class="icon-folder"></i>Blog</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="widget-thumb">
                <a href="#"><img src="assets/img/blog/p2.jpg" alt="" /></a>
              </div>
              <div class="widget-content">
                <a href="#">Brooklyn beta was the most</a>
                <span><i class="icon-calendar"></i>2016/10/28</span>
                <span><i class="icon-folder"></i>Blog</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="widget-thumb">
                <a href="#"><img src="assets/img/blog/p3.jpg" alt="" /></a>
              </div>
              <div class="widget-content">
                <a href="#">Brooklyn beta was the most</a>
                <span><i class="icon-calendar"></i>2016/10/28</span>
                <span><i class="icon-folder"></i>Blog</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="widget-thumb">
                <a href="#"><img src="assets/img/blog/p4.jpg" alt="" /></a>
              </div>
              <div class="widget-content">
                <a href="#">Brooklyn beta was the most</a>
                <span><i class="icon-calendar"></i>2016/10/28</span>
                <span><i class="icon-folder"></i>Blog</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="widget-thumb">
                <a href="#"><img src="assets/img/blog/p5.jpg" alt="" /></a>
              </div>
              <div class="widget-content">
                <a href="#">Brooklyn beta was the most</a>
                <span><i class="icon-calendar"></i>2016/10/28</span>
                <span><i class="icon-folder"></i>Blog</span>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>

        <div class="widget tag">
          <h5 class="widget-title">Categorias</h5>
          <a href="#"><i class="fa fa-tag"></i> art</a>
          <a href="#"><i class="fa fa-tag"></i> Camera</a>
          <a href="#"><i class="fa fa-tag"></i> Coffee</a>
          <a href="#"><i class="fa fa-tag"></i> design</a>
          <a href="#"><i class="fa fa-tag"></i> gallery</a>
          <a href="#"><i class="fa fa-tag"></i> life</a>
          <a href="#"><i class="fa fa-tag"></i> lyrics</a>
          <a href="#"><i class="fa fa-tag"></i> photography</a>
          <a href="#"><i class="fa fa-tag"></i> record</a>
        </div>
      </aside>

    </div>
  </div>
</section>



{{ end }}