

<div class="page-header">
    <div class="container">
        <div class="page-header-inner">
            <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li class="page">Colaboradores</li>
            </ol>
            <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
                Colaboradores
            </h1>
        </div>
    </div>
</div>


<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Membros ativos da comunidade</h2>
            </div>

            {{ range .Site.Data.team.team }}
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-member wow fadeInRight" data-wow-delay="0.2s">
                    <div class="team-desc">
                        <h3>{{ .name }}</h3>
                        <h5>{{ .description }}</h5>
                        <p>{{ .bio }}</p>
                    </div>
                    <div class="team-img">
                        <img src="{{ .avatar }}" alt="">
                        <div class="social-icon">
                            <a class="social" href="{{ .facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="{{ .twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="{{ .linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="social" href="{{ .github }}" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            {{ end }}

        </div>
    </div>
</section>


<div class="ready-to-play">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/PtOClEOkfSE" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
</div>


<section id="speakers" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Colaboradores</h2>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="0.1s">
                    <div class="member-img">
                        <img src="assets/img/teacher/img-1.png" alt="">
                    </div>
                    <div class="member-desc">
                        <h3>Jon Doe</h3>
                        <h5>CEO, Peloton Cycle</h5>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</p>
                        <div class="social-icon">
                            <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="0.3s">
                    <div class="member-img">
                        <img src="assets/img/teacher/img-2.png" alt="">
                    </div>
                    <div class="member-desc">
                        <h3>Natali Aero</h3>
                        <h5>Co-founder, Hometeam</h5>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</p>
                        <div class="social-icon">
                            <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="0.5s">
                    <div class="member-img">
                        <img src="assets/img/teacher/img-3.png" alt="">
                    </div>
                    <div class="member-desc">
                        <h3>Leo Amber</h3>
                        <h5>Director, Via</h5>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</p>
                        <div class="social-icon">
                            <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="0.7s">
                    <div class="member-img">
                        <img src="assets/img/teacher/img-4.png" alt="">
                    </div>
                    <div class="member-desc">
                        <h3>Jeson Eva</h3>
                        <h5>Co-founder,theSkimm</h5>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</p>
                        <div class="social-icon">
                            <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="0.9s">
                    <div class="member-img">
                        <img src="assets/img/teacher/img-5.png" alt="">
                    </div>
                    <div class="member-desc">
                        <h3>Lamba Kureshi</h3>
                        <h5>Senior Professor,Boston University</h5>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</p>
                        <div class="social-icon">
                            <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="speakers-member wow fadeIn" data-wow-delay="1s">
                    <div class="member-img">
                        <img src="assets/img/teacher/img-6.png" alt="">
                    </div>
                    <div class="member-desc">
                        <h3>Leo Amber</h3>
                        <h5>CEO, lrisVR</h5>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.</p>
                        <div class="social-icon">
                            <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="intro" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="content-text">
                    <h2>Pronto para organizar um FOSSDay na sua cidade?</h2>
                    <p class="text">Acesse o projeto no GitHub, crie um fork e divirta-se!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                <a href="https://github.com/fossday" class="btn-cta btn btn-common"><i class="icon-control-play"></i> Acessar</a>
            </div>
        </div>
    </div>
</section>

