<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">O FOSS Day - Free and Open Source Software Day, é um evento construído por um grupo de voluntários que prezam pela ação social constante, trazendo o ideal participativo do desenvolvimento de Software Livre para o dia-a-dia dos profissionais, estudantes e interessados em tecnologias livres, ao buscar a organização de eventos gratuitos e encontros informais para a discussão técnica e troca de experiências entre seus membros.</p>

<p>Dentre as tecnologias que utilizam software livre destaca-se o Watson, a maior inteligência artificial construída até hoje, roda em máquinas IBM com Linux. O que tu estás esperando para te juntar à essa turma que construiu teu futuro? O evento será realizado pelo mesmo grupo de voluntários que anos anteriores organizaram o Tchelinux Lajeado, mas agora com outro nome. A cultura do Software Livre continua, no dia 05 de Maio de 2018, com a realização do FOSS Day Lajeado na Univates.</p>

<p>Na programação teremos palestras técnicas para iniciantes e pessoas que já trabalham com Tecnologia da Informação, a presença do ilustríssimo Jon "Maddog" Hall que é diretor do conselho do Linux Professional Institute.</p>

<p>O evento é sem fins lucrativos e as inscrições são gratuitas, com contribuição simbólica e não obrigatória de 2 Kg de alimentos não perecíveis, que serão doados a uma instituição de caridade do município de Lajeado. A inscrição pode ser feita através do link: https://www.sympla.com.br</p>
