<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">O FOSS Day - Free and Open Source Software Day, é um evento construído por um grupo de voluntários que prezam pela ação social constante, trazendo o ideal participativo do desenvolvimento de Software Livre para o dia-a-dia de profissionais, estudantes e interessados em tecnologias livres.<p>

<p>No dia 05 de Maio de 2018 na Univates será realizado o FOSS Day Lajeado, evento organizado pelo mesmo grupo de voluntários que anos anteriores organizaram o Tchelinux Lajeado, mas agora com outro nome, a cultura do Software Livre continua. Na programação, que será divulgada em breve, teremos palestras técnicas para iniciantes e pessoas que já trabalham com Tecnologia da Informação, e a presença do ilustríssimo Jon "MADDOG" Hall que é diretor do conselho do Linux Professional Institute.</p>

<p>O evento é sem fins lucrativos e as inscrições são gratuitas, com contribuição simbólica e não obrigatória de 2 Kg de alimentos não perecíveis, que serão doados a uma instituição de caridade do município de Lajeado. Participe você também, junte-se a essa turma que está construindo o teu futuro.</p>

<p>A inscrição pode ser feita através do link: <a href="https://goo.gl/wtmEEE" target="_blank">https://goo.gl/wtmEEE</a></p>

<p>Proposta de palestra pode ser feita através do link: <a href="https://goo.gl/forms/HCYohB6QOlulaz8A2" target="_blank">https://goo.gl/forms/HCYohB6QOlulaz8A2</a>
